<h1>Study Manager</h1>

<div class="section">
    <h2>Description</h2>
    <p>A small training pet project on the basics of ASP.NET Core MVC pattern. The basis is a small functionality of a web application with a database.</p>
</div>

<div class="section">
    <h2>Support</h2>
    <p>For support, contact:</p>
    <ul class="contact">
        <li>Telegram: <a href="https://t.me/BuenasNo4es">@@BuenasNo4es</a></li>
        <li>Email: <a href="mailto:shynkarnikita@gmail.com">shynkarnikita@gmail.com</a></li>
    </ul>
</div>

<div class="section">
    <h2>Roadmap</h2>
    <p>If you have ideas for future releases, feel free to list them here.</p>
</div>

<div class="section">
    <h2>Authors and Acknowledgment</h2>
    <p><strong>Shynkar Nikita</strong> - Foxminded student</p>
</div>

<div class="section">
    <h2>Project Status</h2>
    <p><strong>In progress</strong></p>
</div>